pipeline/pipeline1_copy1.json
{
	"name": "pipeline1_copy1",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "getmetadata1",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems",
						"itemName",
						"itemType"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Qwerty2",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"PPinput": {
										"value": "@pipeline().parameters.pp_input",
										"type": "Expression"
									},
									"PPoutput": {
										"value": "@pipeline().parameters.pp_output",
										"type": "Expression"
									},
									"PPArchieve": "Archieve",
									"PPfilename": {
										"value": "@item().name",
										"type": "Expression"
									},
									"PPContainer": {
										"value": "@pipeline().parameters.pp_container",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"pp_container": {
				"type": "string",
				"defaultValue": "project1"
			},
			"pp_input": {
				"type": "string",
				"defaultValue": "input"
			},
			"pp_output": {
				"type": "string",
				"defaultValue": "output"
			}
		},
		"annotations": []
	}
}